# -----------------------
# Entornos virtuales
# -----------------------
.venv/
venv/

# -----------------------
# Variables de entorno
# -----------------------
.env

# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------
# VS Code
# -----------------------
.vscode/

# -----------------------
# Sistema operativo
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Otros
# -----------------------
*.log